<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>planeA_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-14}</string>
                <key>spriteSize</key>
                <string>{1884,410}</string>
                <key>spriteSourceSize</key>
                <string>{1908,442}</string>
                <key>textureRect</key>
                <string>{{1,1},{1884,410}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>planeA_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-16}</string>
                <key>spriteSize</key>
                <string>{1884,406}</string>
                <key>spriteSourceSize</key>
                <string>{1908,442}</string>
                <key>textureRect</key>
                <string>{{1,413},{1884,406}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>planeA_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-13}</string>
                <key>spriteSize</key>
                <string>{1884,412}</string>
                <key>spriteSourceSize</key>
                <string>{1908,442}</string>
                <key>textureRect</key>
                <string>{{1,821},{1884,412}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>planeA.png</string>
            <key>size</key>
            <string>{1886,1234}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:721e471bac6033424f56d4039c40cbe9:742a742443cd6a5bee38cc10084276c7:b0f03610c8ddf4936a2f57cb5744d2c0$</string>
            <key>textureFileName</key>
            <string>planeA.png</string>
        </dict>
    </dict>
</plist>
