<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>planeB_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{21,20}</string>
                <key>spriteSize</key>
                <string>{1878,322}</string>
                <key>spriteSourceSize</key>
                <string>{1920,392}</string>
                <key>textureRect</key>
                <string>{{1,1},{1878,322}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>planeB_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{21,19}</string>
                <key>spriteSize</key>
                <string>{1878,320}</string>
                <key>spriteSourceSize</key>
                <string>{1920,392}</string>
                <key>textureRect</key>
                <string>{{1,325},{1878,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>planeB_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{21,19}</string>
                <key>spriteSize</key>
                <string>{1878,320}</string>
                <key>spriteSourceSize</key>
                <string>{1920,392}</string>
                <key>textureRect</key>
                <string>{{1,647},{1878,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>planeB.png</string>
            <key>size</key>
            <string>{1880,968}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bbbfcc9ef8bfd0390b458bdce2fd5ba2:db65f195bb2e8fd4b65357c69ab583f2:eb92735812d86ac48b1a1405eb035dff$</string>
            <key>textureFileName</key>
            <string>planeB.png</string>
        </dict>
    </dict>
</plist>
