<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>planeB_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{21,15}</string>
                <key>spriteSize</key>
                <string>{1878,334}</string>
                <key>spriteSourceSize</key>
                <string>{1920,392}</string>
                <key>textureRect</key>
                <string>{{1,1},{1878,334}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>planeB_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{21,19}</string>
                <key>spriteSize</key>
                <string>{1878,320}</string>
                <key>spriteSourceSize</key>
                <string>{1920,392}</string>
                <key>textureRect</key>
                <string>{{1,337},{1878,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>planeB_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{21,19}</string>
                <key>spriteSize</key>
                <string>{1878,320}</string>
                <key>spriteSourceSize</key>
                <string>{1920,392}</string>
                <key>textureRect</key>
                <string>{{1,659},{1878,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>planeB.png</string>
            <key>size</key>
            <string>{1880,980}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2ed6c846fa12e0b5127902f8a1220b66:731b77271e18826930ff5ba9a5c2d4dd:eb92735812d86ac48b1a1405eb035dff$</string>
            <key>textureFileName</key>
            <string>planeB.png</string>
        </dict>
    </dict>
</plist>
